@media only screen and (max-width: 699px) and (min-width: 600px) {

.sidebar{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25vw;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.sidebar-close-btn{
    position: fixed;
    right: 30px;
    top: 30px;
}

.sidebar-links{
    display: flex;
    justify-content: center;
}

.sidebar-list-item + .sidebar-list-item{
    margin-top: 40px;
}

.sidebar-list-item{
    margin-top: 80px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
}

.sidebar-list-item:hover{
    cursor: pointer;
    color: #9cb9e8;
    text-decoration: underline;
}

.nav-head{
  margin-left: -140px;
}

.nav-links ul{
  display: none;
}

.nav-logo{
  display: none;
  margin-right: -30px;
  cursor: pointer;
}

.nav-logo img{
  width: 2.5vw;
  height: auto;
}



/* #INTRO SECTION STYLING */

#intro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.left-intro{
  width: 50%;
  margin-left: 200px;
}

.left-intro h5{
  font-size: 20px;
  font-weight: 200;
}

.left-intro h1{
  overflow: hidden;
  font-size: 3.5em;
  line-height: 70px;
  color: #9cb9e8;
}

.left-intro a {
  text-decoration: none;
  color: #fff;
}

.underline{
  background-color: #9cb9e8;
  width: 95px;
  height: 3px;
}

.right-intro{
  margin-right: 180px;
}

.right-intro img{
  width: 20vw;
  height: auto;
}

/* About section styling */
#about {
  margin-top: 90px;
  height: 60vh;
  display: grid;
  grid-template-rows: 27% 30% auto;
}

.top{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 15.5vw;
}

.top h2{
  font-size: 5vw;
  color: #99a5b9;
}

.line{
  height: 1vh;
  width: 56vw;
  background-color: #9cb9e8;
}

.middle {
  padding-left: 22vw;
  padding-right: 16vw;
}

.middle p {
  font-size: 90%;
  letter-spacing: 0.5px;
  word-spacing: 4px;
}

.bottom {
  padding-left: 15.5vw;;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.skill {
  padding-top: 50px;
}

.skill h3 {
  font-size: 2em;
  letter-spacing: 0.1vw;
}

.skill p {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: rgb(193, 192, 192);
}

.skill-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill-underline{
  background-color: #9cb9e8;
  height: 0.5vh;
}

.skill-1-underline{
  width: 137px;
}

.skill-2-underline{
  width: 119px;
}

.skill-3-underline{
  width: 142px;
}

#work {
  margin-top: 90px;
  height: 60vh;
  display: grid;
  grid-template-rows: 27% 30% auto;
}

.work-line {
  width: 59vw;
}

.work-underline {
  width: 61px;
}

.c-pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}
}