@media only screen and (max-width: 699px) and (min-width: 600px) {

.sidebar{
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 35vw;
  background: rgba(255,255,255,1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.sidebar img{
  width: 20px;
}

.sidebar-close-btn{
    position: fixed;
    right: 30px;
    top: 30px;
}

.sidebar-open {
  right: 0;
  transition: all ease 0.5s;
}

.sidebar-close{
  right: -300px;
  transition: all ease 0.5s;
}

.sidebar-links{
    display: flex;
    justify-content: center;
}

.sidebar-list-item + .sidebar-list-item{
    margin-top: 50px;
}

.sidebar-list-item{
    margin-top: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
}

.sidebar-list-item:hover{
    cursor: pointer;
    color: #9cb9e8;
    text-decoration: underline;
}

.nav-head{
  margin-left: -160px;
}

.nav-links ul{
  display: none;
}

.nav-logo{
  display: flex;
  margin-right: -160px;
}

.nav-logo img:nth-child(2) {
  display: block;
}

.nav-logo img{
  width: 4vw;
  cursor: pointer;
}

img + img {
  margin-left: 20px;
}

/* #INTRO SECTION STYLING */

#intro{
  margin-top: 80px;
}

.left-intro{
  margin-left: 100px;
}

.left-intro h5{
  font-size: 13px;
}

.left-intro h1{
  font-size: 2.5em;
  line-height: 50px;
}

.right-intro{
  margin-right: 100px;
}

/* About section styling */
#about {
  margin-top: 60px;
}

.top h2{
  font-size: 6vw;
}

.middle p {
  font-size: 65%;
}

.skill {
  padding-top: 20px;
}

.skill h3 {
  font-size: 1.5em;
}

.skill p {
  font-size: 10px;
}

.skill-1-underline{
  width: 108px;
}

.skill-2-underline{
  width: 94px;
}

.skill-3-underline{
  width: 111px;
}

#work {
  margin-top: 10px;
}

.work-underline {
  width: 48px;
}
}